/* latin */
@font-face {
  font-family: 'Marko One';
  font-style: normal;
  font-weight: 400;
  
}
body {
                 background: black;
                 color: #0c6b6b
				 }
ul ul li {
                 font-size: x-large;
                 font-decoration: italic 
				 } 
dt {
font-weight: bold;
}
  
h1, h2, blockquote { background: #95a17a
} 				 
strong {
font-style: italic;}
